* {
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}
/*nav bar*/
header {

    position: sticky;
    top: 0;
    border-bottom: 10px solid #f7ce1a;
}

nav {
    height: 80px;
    width: 100%;
    margin: auto;
    background-color: #f7ce1a;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
}

nav a {
    font-size: 20px;
    color: #f03c00;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    background-color: #4957B3;
    border: 0;
    border-radius: 2px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

/*Fim navbar*/
/*Fim nav bar*/
main{
    display: flex;
}
/*Começo cadastro*/ 
#div_lateral{
background-image: linear-gradient(to top, #005eff, #2269f7, #3c7af6, #6ea1ff, #7dadff);    width: 50%;
display: flex;
align-items: center;
}
#img-cad{
    width: 45em;
}
#div_conteudo-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50%;
    min-height: 90vh;
}

.div_campo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: start;
    flex-direction: column;
}
#cadastro_p1,#cadastro_p2{
    background-color: rgb(255, 255, 255);
    width: 35rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.campo{
    width: 15rem;
    height: 2.5rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    border-bottom: 3px solid #f7ce1a;
}
.campo:focus{
outline: none;
}