@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Jacquard+24&family=Mochiy+Pop+P+One&family=Tiro+Telugu:ital@0;1&display=swap');


* {
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    height: 100%;

    background-color: white;
    background-image: url('../assets/imgs/back-nuvem.png');
    object-fit: cover;
    font-family: "Hind", sans-serif;

}

.div_background {
    backdrop-filter: blur(4px) brightness(0.9);
    z-index: 1;
}

nav {
    position: fixed;
    height: 40px;
    transition: 1.5s;
    width: 100%;
}

.div-menu {
    display: none;
}


nav:hover {
    height: 90px;
    transition: 1.5s;
}


nav:hover .div-menu {
    display: block;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 25px;
}

nav a {
    font-size: 20px;
    color: #000b4f;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffc400;
    border: 0;
    border-radius: 2px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}


/*Fim navbar*/
/*Fim nav bar*/
main {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h2 {
    color: transparent;
    background-color: #ffc400;
    background-clip: text;
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 5rem;
}

/*Começo cadastro*/


#div_conteudo-cadastro,#div_conteudo-login {
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    padding: 1%;

}

.div_campo {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #7f90ff;
    margin-top: 0.5rem;
}

.div_campo h3 {
    text-align: left;
    width: 100%;
}

select {
    width: 25rem;
    height: 3rem;
    border: none;
    border-bottom: 2px solid #77a6ff;
    padding: 8px;
    background: transparent;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 5px;
    color: #7f90ff;

}


.select:hover {
    background-color: white;
    transition: 0.5s;

}

select:focus {
    outline: none;
    background-color: white;
    transition: 0.5s;
    border-bottom-color: #4957B3;
    color: #000421;
}

#input_dtNasc:focus {
    color: #000421;
}

#input_dtNasc {
    color: #7f90ff;
    }
#cadastro_p1,
#cadastro_p2,
#cadastro_p3,#div_login {
    width: 500px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1%;
}



.div_campo h3 {
    font-size: 22px;
    text-align: left;
}

#cadastro_p2 {
    margin-top: -22px;
    height: 30rem;
}

#cadastro_p3 {
    margin-top: 1rem;
}

.campo {
    width: 25rem;
    height: 3rem;
    border: none;
    border-bottom: 2px solid #77a6ff;
    padding: 8px;
    background: transparent;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 5px;
    color: #000421;

}

.campo:focus {
    outline: none;
    border-bottom-color: #4957B3;
    transition: 0.5s;
    background-color: white;

}

.campo::placeholder {
    color: #7f90ff;

}

.campo:hover {
    background-color: white;
    transition: 0.5s;

}

#txtArea_msg {
    width: 380px;
    height: 150px;
    resize: none;
    font-size: 18px;
    color: #000421;
    border: #77a6ff 2px solid;
    border-radius: 5px;


}

#txtArea_msg:focus {
    outline: none;
    border-color: #4957B3;

}

.btn-cadLog {
    margin-top: 4%;
    background-color: #ffc400;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    width: 25rem;
    height: 3rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cadLog:hover {
    background-color: #70bef5;
    transition: 0.5s;
}

#svg-seta {
    width: 1.5rem;
}

/*Aqui começa o Login*/

h4{
    font-size: 18px;
    color: #7f90ff;
}
a{
    text-decoration: none;
    color: #ffc400;
}
#div_conteudo-login .btn-cadLog{
    margin-top: 5%;
}
#main-login h2{
margin-bottom: 3%;
}
.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}


.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: #000421;
    width: 300px;
    position: fixed;
    border-radius: 4px;
    border:0;
    padding: 10px;
    margin-right: 10%;

}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

/*Fim o Login*/
