/*Aqui começa o mercado*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind:wght@300;400;500;600;700&family=Jacquard+24&family=Mochiy+Pop+P+One&family=Tiro+Telugu:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
    margin: 0;
    padding: 0;
    color: #3E2429;
}

body {

    overflow-x: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 149);
    flex-direction: column;
    background-image: url('../assets/imgs/img-prateleiras.png');
    object-fit: cover;
}

#div_navbarTop {

    width: 100%;
    height: 10px;
    font-size: 20px;
    padding: 2%;
    top: 0;
    font-weight: bold;
    position: fixed;
    transition: 1.5s;
}


#conteudo_nav {
    display: none;

}


#div_navbarTop:hover {
    background-color: rgb(51, 110, 149);

    height: 10px;
    transition: 1.5s;
}


#div_navbarTop:hover #conteudo_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10rem;

}

#div_navbarTop a {
    color: white;
    text-decoration: none;
}

#img_kwik {
    background-image: url('../assets/imgs/img_kwik.png');
    width: 100%;
    height: 11rem;
    object-fit: cover;
}

#conteudoCentral {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_mensagem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 3%;

}

#vendinha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.produtos {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
    justify-content: center;

}

.produto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.produto label{
font-weight: bolder;
font-size: 20px;
}
.img-prod {
    width: 55%;
}

input {
    width: 150px;
    border-radius: 5px;
    border: 0;
        box-shadow: 0px 3px 4px black;

}

label {
    font-size: 18px;
}

.imgsPromo{
       border-radius: 5px;
    border: 0;
        box-shadow: 0px 3px 4px black;
 
}
#apu {
    display: flex;
    gap: 3%;
    margin-left: 30%;
    margin-top: 70px;
}

#apu img {
    display: block;
    width: 15rem;
}

#div_resultado {
    background-color: white;
    height: 130px;
    width: 350px;
    margin-right: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    
}

#div_mensagem button {
    background-color: transparent;
    border: 0;
}

#div_mensagem button img {
    width: 60px;
    display: block;
}

#div_carrinho {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 400px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

}

#div_btnFechar {
    display: flex;
    justify-content: flex-end;
}

#div_carrinho #div_btnFechar #btn_fechar {
    background-color: #a50042;
    width: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#div_conteudo_extrato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

#div_conteudo_extrato #btn_comprar,
#btn_cancelar {
    width: 100px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#div_conteudo_extrato #btn_comprar {
    background-color: chartreuse;

}

#div_conteudo_extrato #btn_cancelar {
    background-color: #b10047;
}

.inputs_qtd:focus{
    outline: none;
}

.inputs_qtd{
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

#div_btnCarinho{
    display: flex;
    justify-content: flex-end;
    width: 700px;
}

#div_conteudo_extrato h3{
    color:rgb(69, 138, 0);
    text-align: center;}