.produtos{
    display: flex;
    margin-top: 5rem;
gap: 3rem;
justify-content: center;
}

.produto{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}